<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @utilisateur.name %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @utilisateur.firstName %>
</p>

<%= link_to 'Edit', edit_utilisateur_path(@utilisateur) %> |
<%= link_to 'Back', utilisateurs_path %>
