<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('lastname') %> :</strong>
  <%= @utilisateur.name %>
</p>

<p>
  <strong><%= t('firstname') %> :</strong>
  <%= @utilisateur.firstName %>
</p>

<p>
  <strong><%= t('role') %>:</strong>
  <%= @utilisateur.role.name %>
</p>

<%= link_to t('edit'), edit_utilisateur_path(@utilisateur) %> |
<%= link_to t('back'), utilisateurs_path %>
