<%= simple_form_for @fichier do |f| %>
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group ">
          <div class="col-lg-8"><%= f.input :name, label: t('lastname'), class:'form-control' %></div>
      </div>
      
      <div class="form-group ">
          <div class="col-lg-8"><%= f.association :category, label: t('category'), class:'form-control' %></div>
      </div>
      <div class="form-group ">
          <div class="col-lg-8"><%= f.association :sous_categories, label: t('subcategory'), class:'form-control' %></div>
      </div>
      <div class="form-group ">
          <div class="col-lg-8"><%= f.association :utilisateur, label: t('user'), class:'form-control' %></div>
      </div>
      
    </div>
  </div>

  <%= f.submit t('save'), class: 'btn btn-primary' %> 
<% end  %>