<%= simple_form_for @fichier do |f| %>
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group ">
          <div class="col-lg-8"><%= f.input :nom, label: 'Nom', class:'form-control' %></div>
      </div>
      
      <div class="form-group ">
          <div class="col-lg-8"><%= f.association :categorie, label: 'Categorie', class:'form-control' %></div>
      </div>
      <div class="form-group ">
          <!--<div class="col-lg-8"><%# f.association :sous_categorie, label: 'Sous-categorie', class:'form-control' #%></div>-->
      </div>
      <div class="form-group ">
          <div class="col-lg-8"><%= f.association :utilisateur, label: 'Utilisateur', class:'form-control' %></div>
      </div>
      
    </div>
  </div>

  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %> 
<% end  %>