<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('lastname') %> :</strong>
  <%= @fichier.name %>
</p>

<%= link_to t('edit'), edit_fichier_path(@fichier) %> |
<%= link_to t('back'), fichiers_path %>
