<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('lastname') %> :</strong>
  <%= @fichier.name %>
  <%= @fichier.category.name %>
  <%= render partial: 'sous_categories/sous_categories_list', locals: { sous_categories: @fichier.sous_categories} %>
</p>

<%= link_to t('edit'), edit_fichier_path(@fichier) %> |
<%= link_to t('back'), fichiers_path %>
