<p id="notice"><%= notice %></p>

<h1>Listing Sous Categories</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Categorie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sous_categories.each do |sous_categorie| %>
      <tr>
        <td><%= sous_categorie.id %></td>
        <td>
        <% if sous_categorie.categorie.nil? %>
            Non défini
          <% else %>
            
            <%= categorie_id(sous_categorie.categorie.id) %>
            
          <% end %>
        </td>
        <td><%= link_to 'Show', sous_category, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_sous_category_path(sous_categorie), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', sous_category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sous categorie', new_sous_category_path %>


