<p id="notice"><%= notice %></p>

<% if @sous_categories.any? %>
  <h1> <%=t('subCategoriesList') %></h1>

  <table>
    <thead>
      <tr>
        <th><%= t('lastname') %></th>
        <th><%= t('category') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sous_categories.each do |sous_category| %>
        <tr>
          <td><%= sous_category.name %></td>
          <td><%= sous_category.category %></td>
          <td><%= link_to t('show'), sous_category %></td>
          <td><%= link_to t('edit'), edit_sous_category_path(sous_category) %></td>
          <td><%= link_to t('destroy'), sous_category, method: :delete, data: { confirm: t('areYouSure') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Vous n'avez aucune Sous-Categories !</p>
<% end %>

<br>

<%= link_to t('newSubcategory'), new_sous_category_path, class: 'btn btn-success' %>
