<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sous_category.name %>
</p>

<p>
  <strong>Fichier:</strong>
  <%= @sous_category.fichier %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @sous_category.category %>
</p>

<%= link_to 'Edit', edit_sous_category_path(@sous_category) %> |
<%= link_to 'Back', sous_categories_path %>
