<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong><%= t('lastname') %> :</strong>
=======
  <strong><%= t('lastname')%> :</strong>
>>>>>>> ea0e156a9a507b655e0883bd9f0cb7c9c8aacf6e
  <%= @sous_category.name %>
</p>


<p>
  <strong><%= t('category') %> :</strong>
<<<<<<< HEAD
  <%= @sous_category.category %>
=======
  <%= @sous_category.category.name %>
>>>>>>> ea0e156a9a507b655e0883bd9f0cb7c9c8aacf6e
</p>

<%= link_to t('edit'), edit_sous_category_path(@sous_category) %> |
<%= link_to t('back'), sous_categories_path %>
