<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong><%= t('lastname') %> :</strong>
=======
  <strong><%= t('lastname')%> :</strong>
>>>>>>> ea0e156a9a507b655e0883bd9f0cb7c9c8aacf6e
  <%= @category.name %>
</p>


<%= link_to t('edit'), edit_category_path(@category) %> |
<%= link_to t('back'), categories_path %>
