<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Haaaaa - Votre gestionnaire de fichiers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<header>
	<p>
		<!--<%= link_to 'Liste des Roles', roles_path, class: 'btn btn-default'  %> -->
		<!--<%= link_to 'Liste des Utilisateurs', utilisateurs_path, class: 'btn btn-default'  %>-->
		<%= link_to 'Liste des Categories', categories_path, class: 'btn btn-default'  %>
		<%= link_to 'Liste des Sous-Categories', sous_categories_path, class: 'btn btn-default'  %>
		<%= link_to 'Liste des Fichiers', fichiers_path, class: 'btn btn-default'  %>
	</p>
</header>

<%= yield %>
</div>

</body>
</html>
